.article-wrapper {
  //box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px #eee, -12px 0 15px -4px #eee;
  justify-content: center;
  display:block;
  border-bottom: 2px solid slategray;
  border-radius: 2px;
  z-index: 2000;
  background-color: white;
}


