.article-head {
  padding:0;
  margin:0;
  display:block;
  width:100%;
  box-sizing: border-box;
  position:relative;
  padding:15px 10px;
  .visibility {
    color: lightgrey;
    cursor: pointer;
    &:hover {
      color:#E05729;
    }
  }
  .publishDate {
    display:block;
    font-size: .7em;
    color: gray;
    margin-left:2px;
  }
  .publisher-box{
    position: relative;
  }
  .publisher {
    font-size:1.1em;
    font-weight: 700;
  }
  .pub-box-b {
    position:absolute;
    left:68px;
    top:5px;
  }

  .settings-icons {
    position:absolute;
    top:20px;
    right:25px;
    color:lightgray;

    i {
      margin-left:8px;
      &:hover {
        cursor:pointer;
        color:#E05729;
      }
    }
  }
}
