<div class="article-head">
  <div class="publisher-box">
    <div class="pub-box-a">
      <app-component-atoms-logo logoSize="" logoAlt="" logoSource="{{publisherImg}}"></app-component-atoms-logo>
    </div>

    <div class="pub-box-b">
      <span class="publisher"> {{ publisher }}
        <i class="visibility icon-public" *ngIf="isVisibleToAll"></i>
        <i class="visibility icon-lock-closed" *ngIf="!isVisibleToAll"></i>
      </span>
      <span class="publishDate"> {{ publishDate }} </span>
    </div>
  </div>
  <div class="settings-icons">
    <i class="icon-cog"></i>
  </div>
</div>
